/*Base styling, should apply to all pages in the future*/
html{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    align-items: center;
}

main{
    display: flex;
    flex-flow: column nowrap;
    width: 1920px;
}

/*styling the roadmap section*/
.roadmap-container{
    margin: 128px 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.milestone-items-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 1920px;
    border-top: 15px solid lightgray;
    border-bottom: 15px solid lightgray;
}

/*.milestone-gap{
    width: 1344px;
    height: 288px;
    border: 15px solid lightgray;
    border-top: none;
    border-bottom: none;
}*/

.milestone-item{
    width: 1344px;
}

.milestone-item:not(:nth-child(1 of .milestone-item)){
    border-top: 7.5px solid lightgray;
}

.milestone-item:not(:nth-child(n of .milestone-item):last-child){
    border-bottom: 7.5px solid lightgray;
}

/*targeting odd and even milestone-items to alterante the order of paragraphs and images*/
:nth-child(odd of .milestone-item){
    display: flex;
    gap: 176px;
    justify-content: center;
    border-right: 15px solid lightgray;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
}

:nth-child(even of .milestone-item){
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    gap: 176px;
    border-left: 15px solid lightgray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: none;
}

/*styling the outer borders of the first and last items*/
:nth-child(1 of .milestone-item), :nth-child(n of .milestone-item):last-child{
    display: flex;
}

.milestone-item > .milestone-item-inner-wrapper > .milestone-story-container > p{
    width: 388px;
}

.milestone-item img{
    width: 433px;
}