/*Base styling, should apply to all pages in the future*/
html{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column nowrap;
    margin: 0px;
    align-items: center;
}

main{
    display: flex;
    flex-flow: column nowrap;
    width: 1920px;
}

/*styling the roadmap section*/
.roadmap-container{
    margin: 128px 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.milestone-items-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 288px;

    background: url('/assets/Vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.milestone-item{
    display: flex;
}

:nth-child(even of .milestone-item){
    flex-flow: row-reverse nowrap;
}
/*Adjusting milestone-item margins*/
:nth-child(1 of .milestone-item){
    padding-top: 64px;
}
:nth-child(n of .milestone-item):last-child{
    padding-bottom: 64px;
}
:nth-child(odd of .milestone-item) > .milestone-image-container{
    margin-left: 288px;
}
:nth-child(odd of .milestone-item) > .milestone-story-container{
    margin-left: 176px;
}
:nth-child(even of .milestone-item) > .milestone-story-container{
    margin-left: 176px;
}

.milestone-item > .milestone-story-container > p{
    width: 384px;
}

.milestone-item img{
    width: 433px;
}

/*applying font*/
.milestone-story-container > h3,
.milestone-story-container > p,
.milestone-image-container > h4{
    font-family: "Vollkorn SC";
}

.milestone-image-container > h4{
    width: min-content;
    font-size: 64px;
    font-weight: 400;
    margin: 0 0 32px 176px;
    border-bottom: 3px solid #E9B52F;
}